@{
    ViewData["Title"] = "Administration";
}

<div>
    <h1 class="text-center">Administration</h1>
    <hr />
    <div class="card btn button-annonce-filtre w-100">
        <a class="nav-link icon-link text-white" asp-area="" asp-controller="CarBrands" asp-action="Index">Gérer les marques de véhicules</a>
    </div>
    <div class="card btn button-annonce-filtre w-100">
        <a class="nav-link icon-link text-white" asp-area="" asp-controller="CarModels" asp-action="Index">Gérer les modèles de véhicules</a>
    </div>
    <div class="card btn  button-annonce-filtre w-100">
        <a class="nav-link icon-link text-white" asp-area="" asp-controller="CarFinishes" asp-action="Index">Gérer les finitions de véhicules</a>
    </div>
    <div class="card btn button-annonce-filtre w-100">
        <a class="nav-link icon-link text-white" asp-area="" asp-controller="Vehicles" asp-action="AdminIndex">Gérer les annonces</a>
    </div>
</div>