@model ExpressVoitures.Data.Vehicle

@{
    ViewData["Title"] = "Ajout | Véhicule";
    ViewData["ControllerName"] = "Vehicles";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Ajouter un véhicule";
}

<partial name="_AdminPagesTitle" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeVIN" class="control-label"></label>
                <input asp-for="CodeVIN" class="form-control" />
                <span asp-validation-for="CodeVIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annee" class="control-label"></label>
                <input asp-for="Annee" type="number" class="form-control" />
                <span asp-validation-for="Annee" class="text-danger"></span>
            </div>
            <partial name="_VehicleSelectPartial" model="Model" />
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label>
                <input asp-for="DateAchat" type="date" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label>
                <input asp-for="PrixAchat" type="number" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reparations" class="control-label">Liste des réparations</label>
                <input asp-for="Reparations" class="form-control" type="textarea" />
            </div>
            <div class="form-group">
                <label asp-for="CoutsReparation" class="control-label">Coût des réparations</label>
                <input asp-for="CoutsReparation" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateDisponibiliteVente" class="control-label"></label>
                <input asp-for="DateDisponibiliteVente" type="date" class="form-control" />
                <span asp-validation-for="DateDisponibiliteVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixVente" class="control-label"></label>
                <input asp-for="PrixVente" type="number" class="form-control" />
                <span asp-validation-for="PrixVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" type="date" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label for="images" class="control-label">Images:</label>
                <input type="file" id="images" name="images" class="form-control" multiple />
            </div>
            <div class="form-group my-3">
                <label asp-for="IsPublished" class="control-label">Publier l'annonce</label>
                <input asp-for="IsPublished" class="form-check-input" type="checkbox" id="IsPublished" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn button-annonce-filtre" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        function updateModeleSelect() {
            updateSelect("marqueSelect", "modeleSelect", @Html.Raw(Json.Serialize(ViewBag.Modeles)), "id", "marqueId", @(ViewBag.ModeleId != null ? ViewBag.ModeleId : ""));
            updateFinitionSelect();
        }

        function updateFinitionSelect() {
            updateSelect("modeleSelect", "finitionSelect", @Html.Raw(Json.Serialize(ViewBag.Finitions)), "id", "modeleId", @(ViewBag.FinitionId != null ? ViewBag.FinitionId : ""));
        }
        document.addEventListener("DOMContentLoaded", function () {
            updateModeleSelect();
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}