@model ExpressVoitures.Data.CarBrand

@{
    ViewData["Title"] = "Détails | Marque";
    ViewData["ControllerName"] = "CarBrands";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Détails de la marque";
}

<partial name="_AdminPagesTitle" />

<div>
    <h4>Marque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>

<partial name="_DetailsNavPartial" model="Model"/>
