@model ExpressVoitures.Data.CarBrand

@{
    ViewData["Title"] = "Modification | Marque";
    ViewData["ControllerName"] = "CarBrands";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Modifier une marque";
}

<partial name="_AdminPagesTitle" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn button-annonce-filtre" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
