@model IEnumerable<ExpressVoitures.Data.CarBrand>

@{
    ViewData["Title"] = "Marques";
    ViewData["ControllerName"] = "Admin";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Marques";
}

<partial name="_AdminPagesTitle" />

<p>
    <a class="create-element" asp-action="Create">Ajouter une marque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    <partial name="_DetailsNavPartial" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
