@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Annonces à la une</h1>
    <partial name="_ListingCarousel" model="@Model" />
</div>
