.listing-section {
    background-color: #D9D9D9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.gallery-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-section {
    width: 60%;
    margin: 10px;
    margin-left:0px;
}

.listing-details {
    width: 30%;
}

.gallery-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery-image-container {
    padding-bottom: calc(100% * 10 / 16);
    border-radius: 10px;
}

.gallery-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-thumbnail-container {
    position: relative;
    width: 100%;
    padding-bottom: calc(100% * 10 / 16);
    overflow: hidden;
}

    .gallery-thumbnail-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.gallery-plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    z-index: 1;
}

.gallery-hidden-image {
    opacity: 0.5;
}

.gallery-thumbnails {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.gallery-thumbnail {
    width: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

    .gallery-thumbnail.active,
    .gallery-thumbnail:hover {
        border-color: #007bff;
    }

.gallery-modal-content {
    border-radius: 10px;
    background-color: rgba(0,0,0,.1)
}
